
.block{
    position: absolute;
    width: 647px;
    height: 405px;

    text-align: center;
    align-items: center;
    margin: 0 auto;
    min-width: 500px;

    &.game{
        scale: 0.9;
        left: 0;
        right: 0;
        top: 5%;
        bottom: 0;
        padding-left: 130px;
        position: absolute;
        display: flex;
        align-content: flex-start;
        flex-wrap: wrap;
        flex-direction: row;
        height: max-content;
    }

    &.rules{
        right: 0;
        left: 90%;
        top: -6%;
        bottom: 0;
        box-shadow: -2px 1px 21px 9px rgb(0 0 22 / 23%);
        width: 350px;
        min-width: 100px;
        display: flex;

        height: 900px;
        
        align-items: flex-start;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: space-evenly;

        .picture{
            background-size: 33%;
        }

        .column{
            box-shadow: 5px 0px 2px 0px rgb(75 77 119 / 35%);
            width: 350px;
            height: inherit;

            .text{
                box-shadow: 1px 4px 400px 2px rgb(100 100 150 / 48%);
                font-size: 27px;
                font-family: monospace;
            }
        }

        .row{
            box-shadow: 0px 0px 5px 1px rgb(100 100 150 / 48%);
            height: 100px;
         
        }
    }

    &.settings{
        position: absolute;
        display: none;
        user-select: none;
        top: 10px;
        width: 400px;
        height: max-content;
        min-width: unset;
        left: 5px;
        z-index: 10;
        box-shadow: -2px 1px 21px 9px rgb(0 0 22 / 23%);
        background-color: #61aefb;

        .Show-quantity{
            height: max-content;

            .num-value{
                font-size: 40px;
            }
        }
        
        .Show-time{
            height: max-content;

            .num-value{
                font-size: 40px;
                margin-left: -30px;
            }
        }

        .Stimules{
            height: max-content;

            .button{
                margin: 5px;
                display: inline-block;
                position: unset;
                cursor: pointer; 
                left: 215px; 
                top: 516px;
                width: 40px;
                background-size: 83%;
                box-shadow: -1px 1px 3px 3px rgb(0 0 255 / 18%);
            }
        }

        .border{
            box-shadow: -1px 1px 3px 3px rgb(0 0 255 / 18%);
        }

        .label{
            font-size: 26px;
            font-family: monospace;
            margin-top: 12px;
        }
        
        .num-value{
            border: none;
            outline: unset;
            width: 47px;
            font-size: 50px;
            font-family: monospace;
            display: inline-block; 
        }

        .arrow_left{
            float: left; 
            width: 48px;
            height: 39px;
            background-image: url(pictures/interface/settings/arrow-left-wait.png);
            background-size: 80%;
            background-repeat: no-repeat;
            background-position-x: center;
            background-position-y: center;

            &:hover{
                cursor: pointer;
                background-image: url(pictures/interface/settings/arrow-left-hover.png);
            }
        }

        .arrow_right{
            float: right; 
     
            width: 48px;
            height: 39px;
            background-image: url(pictures/interface/settings/arrow-right-wait.png);
            background-size: 80%;
            background-repeat: no-repeat;
            background-position-x: center;
            background-position-y: center;

            &:hover{
                cursor: pointer;
                background-image: url(pictures/interface/settings/arrow-right-hover.png);
            }
        }
    }

    .last-games{
        margin-left: 930px;
       
        font-family: monospace;
        .score{
            font-size: 25px;

            &.avg{
                font-size: 40px;
            }
        }
    }
}
.level{
    /* display: none; */
    top: -80px;
    left: 310px;
    position: absolute;
    font-family: monospace;
    font-size: 55px;
}
.rank{
    top: -80px;
    left: 310px;
    position: absolute;
    font-family: monospace;
    font-size: 55px;
}

.card {

    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
    /* height: 252px; */

    .tile{
        background-size: 70%;
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: center;
        box-sizing: border-box;
        width: 140px;
        height: 160px;
        background-color: #9cf;
        border-radius: 10px;
        margin: 15px;
    }

    .top {
        position: absolute;
        display: inline-block;
        box-sizing: border-box;
        text-align: center;
        align-items: center;
        font-family: monospace;
        background-color: #007fff;
        border-radius: 5px;
        width: 250px;
        height: max-content;
        margin-top: -25px;
    }
    .down {
        position: absolute;
        box-sizing: border-box;
        display: inline-block;
        text-align: center;
        font-family: monospace;
        background-color: #007fff;
        border-radius: 5px;
        width: 250px;
        height: max-content;
        top: 182px;

        &.down_ex {
            top: 245px;
        }
    }
    
}

.subtile{
    background-size: 70%;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    box-sizing: border-box;
    width: 180px;
    height: 47px;
    background-color: rgb(0 131 255);
    border-radius: 10px;
    margin-left: -20px;
    
    font-family: monospace;
    align-content: center;

    &.top {
        margin-top: -48px;
    }
    &.down {
        margin-top: 147px;
    }
}

.button {
    user-select: none;
    width: 80px;
    height: 60px;
    background-color: #9faab5a1;
    border-radius: 10px;
    cursor: pointer;

    &.label{
        width: 70px;
        margin-top: 90px;
    }

    &.settings{
        width: 80px;
        background-color: unset;
        background-image: url(pictures/interface/settings/settings-button-wait.png);
        background-size: 70%;
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: center;

        &:hover{
            cursor: pointer;
            background-image: url(pictures/interface/settings/settings-button-hover.png);
        }
    }

    &.choosed{
        background-color: #4fdb41;
    }
}

.buttons{
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
    padding-right: 140px;

    .cell{
        margin: 2px;
    }
}

.v-label{
    font-family: monospace;
    font-size: 40px;
}

.picture{
    background-size: 55%;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;

    &.position {
        background-image: url('pictures/stimulButtons/position.png');
    }
    &.audio {
        background-image: url('pictures/stimulButtons/sound.png');
    }
    &.color {
        background-image: url('pictures/stimulButtons/color.png');
    }
    &.image {
        background-image: url('pictures/stimulButtons/image.png');
    }
    &.tile-border {
        background-image: url('pictures/stimulButtons/tile-border.png');
    }
    &.math {
        background-image: url('pictures/stimulButtons/math.png');
    }
    &.keyboard_key_c{
        background-image: url('pictures/interface/adaptive/keyboard_key_c.png');
    }
    &.keyboard_key_v{
        background-image: url('pictures/interface/adaptive/keyboard_key_v.png');
    }
    &.keyboard_key_q{
        background-image: url('pictures/interface/adaptive/keyboard_key_q.png');
    }
    &.keyboard_key_space{
        background-image: url('pictures/interface/adaptive/keyboard_key_space.png');
    }
    &.mouse_right_click{
        background-image: url('pictures/interface/adaptive/mouse_right_click.png');
    }
    &.mouse_middle_click{
        background-image: url('pictures/interface/adaptive/mouse_middle_click.png');
    }
    &.mouse_left_click{
        background-image: url('pictures/interface/adaptive/mouse_left_click.png');
    }
    &.repeat{
        cursor: pointer;
        background-image: url('pictures/interface/repeat.png');
        background-size: 118%;
        position: absolute;
        top: -10px;
        left: 194px;

        width: 382px;
        height: 380px;
    }
}

.play{
    width: 110px;
    margin-top: 25px;
    transition-duration: 0.1;
    transition: all 0.2s;
    cursor: pointer;

    &:hover{
        scale: 1.3;
        transition: all 0.2s;
    }
}

.go_home{
    display: none;

    background-image: url(pictures/interface/result/go-home-wait.png);
    background-size: 93%;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    position: absolute;
   
    width: 80px;
    height: 80px;
    
    top: 0;
    right: 0;
   
    &:hover{
        cursor: pointer;
        background-image: url('pictures/interface/result/go-home-hover.png');
    }
}

.result{
    display: none;
    padding-left: 75px;
    left: 0;
    right: 0;
    top: 5%;
    bottom: 0;

    .buttons{
        margin-top: 100%;
        display: flex;
        flex-wrap: nowrap;
    }

    .level{
        user-select: none; 
        width: 334px;
        top: 147px; 
        left: 33px;
        font-size: 79px;
    }

    .percent-score{
        top: 564px;
        position: absolute;
        font-family: monospace;
        font-size: 40px;
       /* display: none; */
    
       &.final-score{
            font-size: 90px;
            top: 390px;
            left: 320px;
       }
    }
}

.red{
    color: #ff2f2f;
}
.gray{
    color: #a39696;
}
.yellow{
    color: #7abf2a;
}